#set editing-mode vi
#set keymap vi

# this makes the "delete" key work rather than just entering a ~
"\e[3~": delete-char

# ctrl+left/right jump word left/right
"\e[5C": forward-word
"\e[5D": backward-word

# tab to auto-complete a file or directory name ignoring case
set completion-ignore-case On

# two escapes clear command line
"\e\e": "\C-a\C-k"

#"\e[1~": beginning-of-line
#"\e[2~": quoted-insert
#"\e[4~": end-of-line

# page up/down beginning/end of history
"\e[5~": beginning-of-history
"\e[6~": end-of-history

# up/down autocomplete from history
"\e[A": history-search-backward
"\e[B": history-search-forward

